/*设置页面初始样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0; padding:0; list-style:none;}/*css 重置*/
body{ font:normal 12px/1.5"宋体","楷体","黑体",Verdana, Geneva, sans-serif; color:#000;}
img { border:0px; }


/* 小组首页（列表页）主体div设置 */
#main{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	height:auto;
	border:0px solid red;
}

/* 小组首页主体顶部设置 */
#main_top{
	margin:5px;
	width:950px;
	height:50px;
	line-height:20px;
	border:0px solid blue;
}
/* 显示所有小组的数量 */
.main_top_c{
	margin-top:20px;
	margin-left:5px;
	width:940px;
}

.main_top_c span i{
	font-style:normal;
	color:#017A83;
}

/* 主体顶部设置结束 */

/* 主体左侧样式设置开始 */
#main_left{
	margin:5px;
	width:600px;
	border:0px solid black;
	float:left;

}

/* 小组列表设置 */
.main_left_list{
	margin-bottom:20px;
	margin-right:20px;
	width:280px;
	height:80px;
	background-color:#FAF5F2;
	float:left;
	border:0px solid red;
}

/* 对小组头像图片设置 */
.main_left_list img{
	width:80px;
	height:80px;
	margin-top:0px;
	float:left;
}

.main_left_list span a{
	display:block;
	width:150px;
	height:20px;
	margin-top:12px;
	margin-left:15px;
	font-size:14px;
	float:left;
	color:#017A83;
	overflow:hidden;

}

.main_left_list_add{
	width:180px;
	height:30px;
	float:left;
	margin-top:10px;
	border:0px solid red;
	
}


.main_left_list_add i{
	display:block;
	font-style:normal;
	font-size:12px;
	color:#9A9A9A;
	margin-top:5px;
	margin-left:15px;
	float:left;
	border:0px solid red;
}

.main_left_list_add b a{
	display:block;
	text-decoration:none;
	margin-top:5px;
	margin-left:15px;
	font-weight:normal;
	font-size:12px;
	color:#3177AB;
	float:left;
	border:0px solid red;

}

/* 对分页进行设置 */
.main_left_list_pag{
	width:200px;
	float:left;
	margin-left:378px;
	color:#37a;
	border:0px solid red;
	
}

.main_left_list_pag a{
	color:#37a;
}


/* 清除浮动 */
.clear{
	clear:both;
}

/* 分页属性设置 */
.main_paging{
	width:585px;
	margin-top:10px;
	margin-bottom:10px;
	height:30px;
	border:0px solid red;
}


/* 主体左侧侧样式设置结束 */



/* 主体右侧样式设置开始 */
#main_right_top{
	width:300px;
	float:right;
	margin:5px;
	float:right;
	height:50px;
	background:url(../images/record.jpg) no-repeat;
	border:0px solid blue;	
}

.setup{
	width:105px;
	font-size:14px;
	margin-top:16px;
	margin-left:125px;
	color:#3177AB;
	border:0px solid red;
}

.setup a{
	color:#FFF;
	cursor:pointer;
}


/* 广告位置属性设置 */
#main_right_ad{
	width:201px;
	height:201px;
	float:right;
	margin-top:50px;
	margin-right:105px;
	border:0px solid black;
}

/* 设置广告图片的大小 */
#main_right_ad img{
	width:200px;
	height:200px;
}

/* 主体右侧样式设置结束 */

/* 清除浮动 */
.main_bottom{
	clear:both;
}


