/*设置页面初始样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0; padding:0; list-style:none;}/*css 重置*/
body{ font:normal 12px/1.5"宋体","楷体","黑体",Verdana, Geneva, sans-serif; color:#000;}
img { border:0px; }

/* 我加入的小组页主体的设置 */
#main{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	height:auto;
	border:0px solid red;
}

#c-nav{
	display:block;
	margin:20px 50px;
}
#c-nav ul{
	display:block;
	clear:both;
	height:30px;
	line-height:30px;
}
#c-nav li{
	float:left;
	width:65px;
	text-align:center;
}
#c-nav li a{
	font-size:14px;
	color:#d98175;
}

#add{
	display:block;
	padding:20px 15px;
	background:#FFFCFC;
	margin-bottom: 20px;
}
#add ul{
	display:block;
	height:50px;
}
#add ul li{
	float:left;
	width:105px;
	text-align:center;
	font-size:14px;
}
#add ul li span{
	display: block;
	text-align:center;
	height:35px;
}
#add ul li i{
	font-style: normal;
	text-align: center;
}
#add ul li a{
	color:#8F8F8F;
}

/* 主体顶部 */
#main_top{


}

/* 主体左侧栏目设置开始 */
#main_left{
	margin:5px;
	width:600px;
	height:auto;
	float:left;
	border:0px solid blue;
}

/* 主体标题的设置 */
.main_left_title{
	width:590px;
	height:30px;
	margin:5px;
	font-size:16px;
	color:#C3C3C3;
	padding-bottom:5px;
	border-bottom:1px dashed #DDDDDD;
}

/* 主体内容的设置 */
.main_left_content{
	width:595px;
	height:atuo;
	margin-left:2px;
	background-color:#F9F9F9;
	float:left;
	padding-bottom:10px;
	border-bottom:1px dashed #DDDDDD;
}

.groupli{
	width:190px;
	margin-top:10px;
	margin-left:5px;
	float:left;
	border:0px dotted #aaa;
}

.groupli_img{
	width:120px;
	height:120px;
	float:left;
	margin:5px;
	margin-left:35px;
	overflow:hidden;
	text-align:center;
	border:0px solid red;
}

.groupfa{
	width:120px;
	float:left;
	margin-top:5px;
	margin-left:35px;
	text-align:center;
	float:left;
	border:0px solid blue;

}

.groupfa span a{
	font-size:12px;
	color:#aaa;
}

.groupnum{
	width:110px;
	float:left;
	margin-top:2px;
	margin-left:5px;
	color:#999999;
	text-align:center;
	float:left;
	border:0px solid red;
}

.groupnum i{
	font-style:normal;
	color:#3177AB;
	
}

.groupquit{
	width:50px;
	margin-top:2px;
	margin-left:5px;
	float:left;
	border:0px solid red;
	
}

.groupquit a{
	font-size:12px;
	color:#3177AB;
}

.main_left_list_pag{
	width:200px;
	float:left;
	margin-top:20px;
	margin-left:378px;
	color:#37a;
	border:0px solid red;
}

.main_left_list_pag a{
	color:#37a;
}

/* 主体左侧栏目设置结束 */


/* 主体右侧栏目设置开始 */
#main_right{
	width:300px;
	height:500px;
	float:right;
	margin-top:10px;
	margin-right:5px;
}

/* 右侧列表顶部 */
.main_right_top{
	display:block;
	height:auto;
	border:0px solid red;
	font-size:15px;
	color:#676767;
	margin-top:10px;
	border-bottom:1px solid #d0e3ff;
}

.main_right_top_add{
	width:110px;
	float:left;
	border:0px solid blue;

}

.main_right_top_exchange{
	width:60px;
	float:right;
	border:0px solid blue;

}

.main_right_top_exchange a{
	cursor:pointer;
}


/* 清除main_right_top所有浮动 */
.main_right_top_eliminate{
	clear:both;
}



/* 右侧列表内容 */
.main_right_content{
	display:block;
	height:70px;
	margin-top:5px;
 	border-bottom:1px solid #d0e3ff;
	padding-top:15px;
	
}

/* 右侧小组列表头像图片设置 */
.main_right_content_img{
	width:50px;
	height:50px;
	overflow:hidden;
	float:left;
	border:0px solid red;
}

/* 右侧小组名称设置 */
.main_right_content li{
	float:right;
	width:240px;
	overflow:hidden;

}
.main_right_content li b{
	display:block;
	line-height:21px;
	height:21px;
	overflow:hidden;
}
.main_right_content li b a{	
	display:block;
	line-height:15px;
	font-size:15px;
	color:#3177AB;
	font-weight:normal;
	text-decoration:none;
	float:left;
	
}
.main_right_content span{
	font-size:12px;
	
}

.main_right_content li span{
	margin-top:15px;

}

.main_right_content li i{
	margin-right:10px;
	font-style:normal;
	margin-top:15px;
	color:#999999;
	line-height:40px;
	font-size:12px;

}


.main_right_content span a{
	margin-top:15px;
	font-size:13px;
	
}

.main_right_content span a{
	margin-top:20px;
	text-decoration:none;
	color:#3177AB;

}

/* 主体右侧栏目设置结束 */

/* 清除浮动 */
.main_bottom{
	width:100%;
	display:block;
	clear:both;
}